In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# PYTHON 'S DATA STRUCTURES

# Tuple

In [171]:
# độ dài cố định, nội dung ko thay đổi

In [172]:
tup = 10,11,12

In [173]:
tup

(10, 11, 12)

In [174]:
tup = (1,2,3),(4,5)

In [175]:
tup

((1, 2, 3), (4, 5))

In [176]:
tup = ('a','b','c')

In [177]:
tup

('a', 'b', 'c')

In [178]:
tuple([1,2,3])

(1, 2, 3)

In [179]:
tup[0]

'a'

In [180]:
tup[2]=1 # immutable

TypeError: 'tuple' object does not support item assignment

In [181]:
tup = (1,[1,2,3],4)

In [182]:
tup[1].append(10)

In [183]:
tup

(1, [1, 2, 3, 10], 4)

In [184]:
(1,3,2)+('a','b','c')+('d',)

(1, 3, 2, 'a', 'b', 'c', 'd')

In [185]:
('a','bc')*2

('a', 'bc', 'a', 'bc')

## Unpacking tuples

In [186]:
t = (1,2,3)

In [187]:
a,b,c = t

In [188]:
a
b
c

1

2

3

In [189]:
t = (1,(4,5),7)

In [190]:
a,(b,c),d = t

## swap (đổi giá trị) 2 biến in Python

In [191]:
a,b = 2 , 4

In [192]:
a
b

2

4

In [193]:
a, b = b , a

In [194]:
a
b

4

2

## iterating over sequences

In [195]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [196]:
for a,b,c in seq :
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [197]:
def f():
    return 1,2,3
f()

(1, 2, 3)

In [198]:
values = 1,2,3,4,5,6

In [199]:
a,b,*rest =  values

In [200]:
a
b

1

2

In [201]:
c,d,*_ = values

In [202]:
c
d

1

2

In [203]:
# hàm count - không phải là độ dài, ở đây là số lần xuất hiện của value

In [204]:
a = (1,2,2,2,3,3,2,4,6,3)

In [205]:
a.count(2)

4

In [206]:
a.count(3)

3

# List

In [207]:
# độ dài có thể thay đổi, nội dung có thể thay đổi

In [208]:
list1 = [1,2,3]

In [209]:
list1.append(5)

In [210]:
list1

[1, 2, 3, 5]

In [211]:
tup = (4,5,6)

In [217]:
list2 = list(tup)
list2

[4, 5, 6]

In [219]:
list2[1] = 'a'

In [220]:
list2

[4, 'a', 6]

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [19]:
a = range(2,6)

In [20]:
type(a)

range

In [21]:
b = list(a)

In [22]:
b.append(7)

In [23]:
b

[2, 3, 4, 5, 7]

In [24]:
b.insert(1,'a')

In [25]:
b

[2, 'a', 3, 4, 5, 7]

In [26]:
b.pop(3)

4

In [27]:
b

[2, 'a', 3, 5, 7]

In [30]:
b.append(3)

In [31]:
b

['a', 3, 5, 7, 3]

In [32]:
b.remove(3)

In [33]:
b

['a', 5, 7, 3]

In [34]:
3 in b

True

In [36]:
3 not in b

False

In [37]:
# combine list

In [38]:
[4,3]+[2,7]

[4, 3, 2, 7]

In [39]:
x = [4,3]

In [40]:
x.extend([5,6])

In [41]:
x

[4, 3, 5, 6]

In [42]:
# extend is faster

## Sorting

In [43]:
x.sort()

In [44]:
x

[3, 4, 5, 6]

In [49]:
def odd(a):
    return a & 1 
x.sort(key=odd)

In [50]:
x

[4, 6, 3, 5]

In [52]:
# binary search và duy trì sắp xếp

In [53]:
import bisect

In [96]:
c = [1,3,3,4,5,7]

In [97]:
bisect.bisect(c,3)

3

In [98]:
bisect.bisect(c,6)

5

In [99]:
bisect.insort(c,6)

In [100]:
c

[1, 3, 3, 4, 5, 6, 7]

In [101]:
i = bisect.bisect_left(c,3)

In [102]:
i

1

## Slicing

In [103]:
c[1:5]

[3, 3, 4, 5]

In [104]:
c[1:2] = [4,5]

In [105]:
c

[1, 4, 5, 3, 4, 5, 6, 7]

In [106]:
c[:4]

[1, 4, 5, 3]

In [108]:
c[1:]

[4, 5, 3, 4, 5, 6, 7]

In [109]:
c[-2:]

[6, 7]

In [110]:
c[:-1]

[1, 4, 5, 3, 4, 5, 6]

In [111]:
c[-4:-2]

[4, 5]

In [112]:
c[::2]

[1, 5, 4, 6]

In [113]:
c[::-1]

[7, 6, 5, 4, 3, 5, 4, 1]

## sequence functions

In [117]:
for i, value in enumerate(c):
    print(str(i)+" "+str(value))

0 1
1 4
2 5
3 3
4 4
5 5
6 6
7 7

In [123]:
d = sorted(c)

In [124]:
d

[1, 3, 4, 4, 5, 5, 6, 7]

In [125]:
e = [3,5,7]

In [157]:
list(zip(d,e))  # zip ghép cặp

[(1, 3), (3, 5), (4, 7)]

In [158]:
f = [6,2]

In [159]:
list(zip(d,e,f))  # ghép cặp 3

[(1, 3, 6), (3, 5, 2)]

In [160]:
for i,(a,b) in enumerate(zip(d,e)):
    print("{0}: {1} , {2}".format(i,a,b))

0: 1 , 3
1: 3 , 5
2: 4 , 7

In [131]:
#unzip

In [140]:
z = list(zip(d,e))
z

[(1, 3), (3, 5), (4, 7)]

In [148]:
d1 , e1 = zip(*z) #unzip

In [149]:
d1

(1, 3, 4)

In [150]:
e1

(3, 5, 7)

In [151]:
# reverse

In [153]:
list(reversed(range(5)))

[4, 3, 2, 1, 0]

## dict

In [ ]:
# efficient key/value hashtable

In [179]:
dic = {}

In [180]:
dic = {'a':1 , 'b':2 }

In [181]:
dic

{'a': 1, 'b': 2}

In [182]:
dic[2] = 3

In [183]:
dic

{'a': 1, 'b': 2, 2: 3}

In [184]:
'a' in dic

True

In [185]:
del dic['a']

dic

In [186]:
r = dic.pop(2)

In [187]:
dic

{'b': 2}

In [188]:
dic.update({'c':5,'a':1})

In [189]:
dic

{'b': 2, 'c': 5, 'a': 1}

In [197]:
k = list(dic.keys())

In [198]:
v = list(dic.values())

In [195]:
dict(zip(range(4),reversed(range(4))))

{0: 3, 1: 2, 2: 1, 3: 0}

In [201]:
map1 = {}

In [202]:
for key, value in zip(k,v):
    map1[key] = value

In [203]:
map1

{'b': 2, 'c': 5, 'a': 1}

In [223]:
value = map1.get('b',2)

In [224]:
value

2

In [230]:
value =map1.get('d',-1)

In [231]:
value

-1

In [253]:
words = ["apple","orange","lemon","a"]

In [254]:
from collections import defaultdict

In [255]:
dict_first_letter = defaultdict(list)

In [256]:
for word in words:
    dict_first_letter[word[0]].append(word)

In [257]:
dict(dict_first_letter)

{'a': ['apple', 'a'], 'o': ['orange'], 'l': ['lemon']}

In [258]:
# hash, keys cho dict là immutable  (int , float , string) hay tuple

In [260]:
hash('sst')

4083728937181857409

In [261]:
hash((3,5))

3713083796996318431

In [262]:
hash(3.5)

1152921504606846979

In [263]:
# nếu muốn sử dụng list làm key thì chuyển ra tuple trước

# set

In [267]:
# giống dict, nhưng chỉ có keys, các keys cũng immutable

In [268]:
set([1,2,2,3])

{1, 2, 3}

In [269]:
s = {1,2,4}

In [270]:
s

{1, 2, 4}

In [271]:
a = {3,5,4}

In [274]:
newset = s.union(a)

In [276]:
newset

{1, 2, 3, 4, 5}

In [279]:
s | a

{1, 2, 3, 4, 5}

In [280]:
a

{3, 4, 5}

In [281]:
s.intersection(a)

{4}

In [282]:
s & a

{4}

In [283]:
s |=a

In [284]:
s

{1, 2, 3, 4, 5}

In [285]:
cop = s.copy()

In [286]:
s.add(7)

In [287]:
s

{1, 2, 3, 4, 5, 7}

In [288]:
cop

{1, 2, 3, 4, 5}

In [289]:
s.issuperset(cop)

True

In [290]:
cop.issubset(s)

True

In [291]:
{1,2} == {2,1}

True

## List , Set , Dict Comprehensions

In [303]:
lis = ['a','b','c','b']

In [304]:
[s.upper() for s in lis if s > 'a']

['B', 'C', 'B']

In [305]:
{i : s.upper() for i,s in enumerate(lis) if s > 'a'}

{1: 'B', 2: 'C', 3: 'B'}

In [306]:
{s.upper() for s in lis if s > 'a'}

{'B', 'C'}

## Nested list comprehension

In [308]:
tuples = [(1,2,3),(5,6,7),(10,11,12)]

In [311]:
newlist = [x for t in tuples for x in t if x>2 and x<12]

In [312]:
newlist

[3, 5, 6, 7, 10, 11]

In [314]:
[[a for a in tup] for tup in tuples]

[[1, 2, 3], [5, 6, 7], [10, 11, 12]]

# Functions trong Python

In [324]:
 a = 1

In [326]:
def f():
    global a
    a = 2
f()
print(a)

2

In [336]:
def f2():
    a = 1
    b = 3
    c = 5
    return a,b,c

In [342]:
c , d, e = f2()

In [343]:
c

1

In [344]:
d

3

In [345]:
e

5

In [346]:
def f(a,b,c=3,d="func"):
    return str(a+b+c)+" "+d
f(10,2)

'15 func'

In [347]:
f(10,2,d="function",c=5)

'17 function'

In [349]:
f.__call__(10,2,d="function",c=5)  # functions là objects

'17 function'