In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# PYTHON 'S DATA STRUCTURES

# Tuple

In [171]:
# độ dài cố định, nội dung ko thay đổi

In [172]:
tup = 10,11,12

In [173]:
tup

(10, 11, 12)

In [174]:
tup = (1,2,3),(4,5)

In [175]:
tup

((1, 2, 3), (4, 5))

In [176]:
tup = ('a','b','c')

In [177]:
tup

('a', 'b', 'c')

In [178]:
tuple([1,2,3])

(1, 2, 3)

In [179]:
tup[0]

'a'

In [180]:
tup[2]=1 # immutable

TypeError: 'tuple' object does not support item assignment

In [181]:
tup = (1,[1,2,3],4)

In [182]:
tup[1].append(10)

In [183]:
tup

(1, [1, 2, 3, 10], 4)

In [184]:
(1,3,2)+('a','b','c')+('d',)

(1, 3, 2, 'a', 'b', 'c', 'd')

In [185]:
('a','bc')*2

('a', 'bc', 'a', 'bc')

## Unpacking tuples

In [186]:
t = (1,2,3)

In [187]:
a,b,c = t

In [188]:
a
b
c

1

2

3

In [189]:
t = (1,(4,5),7)

In [190]:
a,(b,c),d = t

## swap (đổi giá trị) 2 biến in Python

In [191]:
a,b = 2 , 4

In [192]:
a
b

2

4

In [193]:
a, b = b , a

In [194]:
a
b

4

2

## iterating over sequences

In [195]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [196]:
for a,b,c in seq :
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [197]:
def f():
    return 1,2,3
f()

(1, 2, 3)

In [198]:
values = 1,2,3,4,5,6

In [199]:
a,b,*rest =  values

In [200]:
a
b

1

2

In [201]:
c,d,*_ = values

In [202]:
c
d

1

2

In [203]:
# hàm count - không phải là độ dài, ở đây là số lần xuất hiện của value

In [204]:
a = (1,2,2,2,3,3,2,4,6,3)

In [205]:
a.count(2)

4

In [206]:
a.count(3)

3

# List

In [207]:
# độ dài có thể thay đổi, nội dung có thể thay đổi

In [208]:
list1 = [1,2,3]

In [209]:
list1.append(5)

In [210]:
list1

[1, 2, 3, 5]

In [211]:
tup = (4,5,6)

In [217]:
list2 = list(tup)
list2

[4, 5, 6]

In [219]:
list2[1] = 'a'

In [220]:
list2

[4, 'a', 6]

In [233]:
list(range(5))

[0, 1, 2, 3, 4]

In [234]:
a = range(2,6)

In [235]:
type(a)

range

In [236]:
list(a)

[2, 3, 4, 5]